<div class="col-md-12">
        <h3>Create Beneficiary</h3>
      </div>
      <div class="col-md-6">
        <form [formGroup]="newBeneficiaryForm" (ngSubmit)="saveBeneficiary(newBeneficiaryForm.value)" autocomplete="off">
          <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
            <label for="beneficiaryName">Beneficiary Name:</label>
            <em *ngIf="name.invalid && name.dirty">Required</em>
            <input formControlName="name" id="beneficiaryName" type="text" class="form-control" placeholder="Beneficiary name..." />
          </div>
          <div class="form-group" [ngClass]="{'error': surname.invalid && surname.dirty}">
            <label for="beneficiarySurname">Beneficiary Surname:</label>
            <em *ngIf="surname.invalid && surname.dirty">Required</em>
            <input formControlName="surname" id="beneficiarySurname" type="text" class="form-control" placeholder="Beneficiary surname..." />
          </div>
          <div class="form-group" [ngClass]="{'error': identityNo.invalid && identityNo.dirty}">
            <label for="BeneficiaryIdentityNo">Beneficiary Identity No:</label>
            <em *ngIf="identityNo.invalid && identityNo.dirty">Required</em>
            <input formControlName="identityNo" id="beneficiaryIdentityNo" type="text" class="form-control" placeholder="Beneficiary ID No..." />
          </div>
          <div class="form-group" [ngClass]="{'error': relationship.invalid && relationship.dirty}">
            <label for="BeneficiaryReationship">Beneficiary Relationship:</label>
            <em *ngIf="relationship.invalid && relationship.dirty">Required</em>
            <input formControlName="relationship" type="text" class="form-control" placeholder="Relationship with Member...">
          </div>

          <button type="submit" [disabled]="newBeneficiaryForm.invalid" class="btn btn-primary">Save</button>
          <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
        </form>
      </div>