<div class="container">
    <img [src]="member?.imageUrl" [alt]="member?.name" class="member-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{member?.name}} {{member?.surname}}</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Membership Number:</strong> {{member?.memberNo}}</div>
        <div><strong>Identity Number:</strong> {{member?.identityNo}}</div>
        <div><strong>Joined Date:</strong> {{member?.date | date}}</div><br>
        <div><strong>Membership Status: </strong>{{member?.status}}</div>
      </div>
      <div class="col-md-6">
        <address [hidden]="!member?.location?.address">
          <strong>Address:</strong><br />
          {{member?.location?.address}}<br />
          {{member?.location?.city}}, {{member?.location?.country}}, {{member?.location?.zipCode}}
        </address>
        <div [hidden]="!member?.onlineUrl"><strong>Online Url: </strong>{{member?.onlineUrl}}</div>
      </div>
    </div>
    
    <hr>
    <h2>Beneficiaries</h2><br>
    <a class="addButton" (click)="addBeneficiary()">Add Beneficiary</a>
    <hr>
    
  <beneficiary-list *ngIf="!addMode" [beneficiary]="member?.beneficiary"></beneficiary-list>
  <create-beneficiary *ngIf="addMode" (saveNewBeneficiary)="saveNewBeneficiary(member)" (cancelAddBeneficiary)="cancelAddBeneficiary()"></create-beneficiary>

</div>