<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name}} {{event?.surname}}</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Membership Number:</strong> {{event?.memberNo}}</div>
        <div><strong>Identity Number:</strong> {{event?.identityNo}}</div>
        <div><strong>Joined Date:</strong> {{event?.date}}</div>
      </div>
      <div class="col-md-6">
        <address [hidden]="!event?.location?.address">
          <strong>Address:</strong><br />
          {{event?.location?.address}}<br />
          {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
      <a (click)="addSession()">Add Beneficiary</a>
    </div>
    <hr>
    
    <session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
    <create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></create-session>

  </div>